<main class="flex flex-row justify-center items-center w-full	full-view">
  <div cols="6" class="flex flex-col justify-center items-center left-side">
    <img src="../../assets/relembre-depois-logo.png" class="left-side-logo">
  </div>
  <div cols="6" cols-sm="12" class="flex flex-col justify-center items-start  min-h-screen right-side">
    <form class="margin-card">
      <div class=" flex flex-col justify-center items-center w-full min-w-full">
        <img src="../../assets/relembre-depois-logo.png" class="right-side-logo">
        <h2 mat-h2 class="w-full m-3.5 text-center">Já possui cadastro? Acesse:</h2>
      </div>
      <mat-form-field class="w-full min-w-full">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Escreva o seu username">
      </mat-form-field>
      <mat-form-field class="w-full min-w-full">
        <mat-label>Senha</mat-label>
        <input type="password" matInput placeholder="Escreva sua senha">
      </mat-form-field>
      <button appMaterialElevation mat-raised-button color="primary" class="w-full min-w-full min-h-12">Logar</button>
    </form>
  </div>
</main>